Node-RED Dashboard.json
[{"id":"2af82091.badca","type":"tab","label":"IoT Assignment","disabled":false,"info":""},{"id":"4c97a1c5.4c0bf","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Temp/1","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":220,"wires":[["beca5cbe.64af1"]]},{"id":"de08d441.cbc588","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Temp/2","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":340,"wires":[["93ee3f23.7af6"]]},{"id":"61c3d5f9.1f989c","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Temp/3","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":460,"wires":[["666e9699.a97af8"]]},{"id":"d90a7ccd.a93a9","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Temp/4","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":580,"wires":[["2f74781c.e4c748"]]},{"id":"69662fa3.f64f5","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Temp/5","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":700,"wires":[["51805d99.76c204"]]},{"id":"9deaa65b.6f6f88","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Temp/6","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":820,"wires":[["ecdad724.70c0b8"]]},{"id":"561c3aa6.7834b4","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Temp/7","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":940,"wires":[["ce30d3b8.3919a"]]},{"id":"bd79bae5.2b2858","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Temp/8","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":1060,"wires":[["78b8b891.4aff28"]]},{"id":"80890cd8.5969","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Vibr/1","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":280,"wires":[["9507befa.3868c"]]},{"id":"87d0b93b.913058","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Vibr/2","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":400,"wires":[["cbc7b57a.580d58"]]},{"id":"2b63250b.be874a","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Vibr/3","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":520,"wires":[["58d4a9a3.239c78"]]},{"id":"4f9b43c7.0177fc","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Vibr/4","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":640,"wires":[["d197d9c4.657218"]]},{"id":"debcfd74.1b0e","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Vibr/5","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":760,"wires":[["207a5a13.2cfe46"]]},{"id":"7427d305.0c53fc","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Vibr/6","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":880,"wires":[["256cc95e.af12b6"]]},{"id":"c6d690d8.d5016","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Vibr/7","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":1000,"wires":[["eafe396c.d656a8"]]},{"id":"5b99bbd3.75a8c4","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Vibr/8","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":1120,"wires":[["90756767.3ca138"]]},{"id":"beca5cbe.64af1","type":"change","z":"2af82091.badca","name":"Set flow variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"T1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":220,"wires":[["6243853d.a601ec"]]},{"id":"666e9699.a97af8","type":"change","z":"2af82091.badca","name":"Set flow variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"T3","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":460,"wires":[["26241e6a.f31de2"]]},{"id":"93ee3f23.7af6","type":"change","z":"2af82091.badca","name":"Set flow variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"T2","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":340,"wires":[["2a00eb62.c40be4"]]},{"id":"2f74781c.e4c748","type":"change","z":"2af82091.badca","name":"Set flow variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"T4","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":580,"wires":[["3c008b91.9bdb44"]]},{"id":"51805d99.76c204","type":"change","z":"2af82091.badca","name":"Set flow variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"T5","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":700,"wires":[["c51956c7.9685d8"]]},{"id":"ecdad724.70c0b8","type":"change","z":"2af82091.badca","name":"Set flow variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"T6","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":820,"wires":[["8462268c.555d38"]]},{"id":"ce30d3b8.3919a","type":"change","z":"2af82091.badca","name":"Set flow variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"T7","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":940,"wires":[["29c917a6.74ea88"]]},{"id":"78b8b891.4aff28","type":"change","z":"2af82091.badca","name":"Set flow variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"T8","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1060,"wires":[["f908bcd8.64b13"]]},{"id":"9507befa.3868c","type":"change","z":"2af82091.badca","name":"Set flow variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"V1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":280,"wires":[[]]},{"id":"cbc7b57a.580d58","type":"change","z":"2af82091.badca","name":"Set flow variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"V2","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":400,"wires":[[]]},{"id":"58d4a9a3.239c78","type":"change","z":"2af82091.badca","name":"Set flow variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"V3","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":520,"wires":[[]]},{"id":"d197d9c4.657218","type":"change","z":"2af82091.badca","name":"Set flow variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"V4","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":640,"wires":[[]]},{"id":"207a5a13.2cfe46","type":"change","z":"2af82091.badca","name":"Set flow variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"V5","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":760,"wires":[[]]},{"id":"256cc95e.af12b6","type":"change","z":"2af82091.badca","name":"Set flow variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"V6","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":880,"wires":[[]]},{"id":"eafe396c.d656a8","type":"change","z":"2af82091.badca","name":"Set flow variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"V7","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1000,"wires":[[]]},{"id":"90756767.3ca138","type":"change","z":"2af82091.badca","name":"Set flow variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"V8","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1120,"wires":[[]]},{"id":"6243853d.a601ec","type":"function","z":"2af82091.badca","name":"Set data","func":"var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"temperature\" : flow.get(\"T1\"),\n    \"vibration\" : flow.get(\"V1\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":220,"wires":[["338b35d4.beb57a"]]},{"id":"338b35d4.beb57a","type":"function","z":"2af82091.badca","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"M1\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"D:/Motor/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":220,"wires":[["bb9f2ec6.410e1"]]},{"id":"2105af49.14463","type":"switch","z":"2af82091.badca","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":280,"wires":[["84287afa.924ea8"],["5d496e39.af6a2"]]},{"id":"1fe2bd11.c665e3","type":"csv","z":"2af82091.badca","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"timestamp,temperature,vibration","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1170,"y":260,"wires":[["3cc45005.09f6"]]},{"id":"3cc45005.09f6","type":"file","z":"2af82091.badca","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1330,"y":260,"wires":[[]]},{"id":"c5e76dcd.bd3b1","type":"csv","z":"2af82091.badca","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,temperature,vibration","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1170,"y":300,"wires":[["3cc45005.09f6"]]},{"id":"84287afa.924ea8","type":"change","z":"2af82091.badca","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":260,"wires":[["1fe2bd11.c665e3"]]},{"id":"5d496e39.af6a2","type":"change","z":"2af82091.badca","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":300,"wires":[["c5e76dcd.bd3b1"]]},{"id":"bb9f2ec6.410e1","type":"fs-file-lister","z":"2af82091.badca","name":"","start":"D:/Motor/","pattern":"","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":680,"y":280,"wires":[["2105af49.14463"]]},{"id":"2a00eb62.c40be4","type":"function","z":"2af82091.badca","name":"Set data","func":"var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"temperature\" : flow.get(\"T2\"),\n    \"vibration\" : flow.get(\"V2\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":340,"wires":[["f61ea99e.5ae708"]]},{"id":"f61ea99e.5ae708","type":"function","z":"2af82091.badca","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"M2\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"D:/Motor/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":340,"wires":[["d29da092.d9985"]]},{"id":"de4a0e04.c9fb8","type":"switch","z":"2af82091.badca","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":400,"wires":[["12e807b9.b29878"],["8923f013.5bdbb"]]},{"id":"e5e7b39b.80188","type":"csv","z":"2af82091.badca","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"timestamp,temperature,vibration","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1170,"y":380,"wires":[["5c3368cf.e15e08"]]},{"id":"5c3368cf.e15e08","type":"file","z":"2af82091.badca","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1330,"y":380,"wires":[[]]},{"id":"92b9c857.47e628","type":"csv","z":"2af82091.badca","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,temperature,vibration","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1170,"y":420,"wires":[["5c3368cf.e15e08"]]},{"id":"12e807b9.b29878","type":"change","z":"2af82091.badca","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":380,"wires":[["e5e7b39b.80188"]]},{"id":"8923f013.5bdbb","type":"change","z":"2af82091.badca","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":420,"wires":[["92b9c857.47e628"]]},{"id":"d29da092.d9985","type":"fs-file-lister","z":"2af82091.badca","name":"","start":"D:/Motor/","pattern":"","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":680,"y":400,"wires":[["de4a0e04.c9fb8"]]},{"id":"26241e6a.f31de2","type":"function","z":"2af82091.badca","name":"Set data","func":"var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"temperature\" : flow.get(\"T3\"),\n    \"vibration\" : flow.get(\"V3\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":460,"wires":[["35c675da.84c98a"]]},{"id":"35c675da.84c98a","type":"function","z":"2af82091.badca","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"M3\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"D:/Motor/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":460,"wires":[["e6523832.ebc0c8"]]},{"id":"14fe160f.23ea6a","type":"switch","z":"2af82091.badca","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":520,"wires":[["62c65fbd.d41d9"],["9dfd11b2.ce713"]]},{"id":"62c65fbd.d41d9","type":"change","z":"2af82091.badca","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":500,"wires":[["a6d409bf.968da8"]]},{"id":"9dfd11b2.ce713","type":"change","z":"2af82091.badca","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":540,"wires":[["c96f4ca5.b540f"]]},{"id":"e6523832.ebc0c8","type":"fs-file-lister","z":"2af82091.badca","name":"","start":"D:/Motor/","pattern":"","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":680,"y":520,"wires":[["14fe160f.23ea6a"]]},{"id":"a6d409bf.968da8","type":"csv","z":"2af82091.badca","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"timestamp,temperature,vibration","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1170,"y":500,"wires":[["3d0450da.3300f"]]},{"id":"3d0450da.3300f","type":"file","z":"2af82091.badca","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1330,"y":500,"wires":[[]]},{"id":"c96f4ca5.b540f","type":"csv","z":"2af82091.badca","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,temperature,vibration","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1170,"y":540,"wires":[["3d0450da.3300f"]]},{"id":"3c008b91.9bdb44","type":"function","z":"2af82091.badca","name":"Set data","func":"var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"temperature\" : flow.get(\"T4\"),\n    \"vibration\" : flow.get(\"V4\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":580,"wires":[["c38c7a6e.040348"]]},{"id":"c38c7a6e.040348","type":"function","z":"2af82091.badca","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"M4\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"D:/Motor/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":580,"wires":[["c09928ed.bc16e8"]]},{"id":"2fc3e9a1.6f0b66","type":"switch","z":"2af82091.badca","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":640,"wires":[["884f80c8.787ad"],["3e68ab34.8abac4"]]},{"id":"884f80c8.787ad","type":"change","z":"2af82091.badca","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":620,"wires":[["2c45f5a6.3bcc6a"]]},{"id":"3e68ab34.8abac4","type":"change","z":"2af82091.badca","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":660,"wires":[["5c9242cd.0f394c"]]},{"id":"c09928ed.bc16e8","type":"fs-file-lister","z":"2af82091.badca","name":"","start":"D:/Motor/","pattern":"","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":680,"y":640,"wires":[["2fc3e9a1.6f0b66"]]},{"id":"2c45f5a6.3bcc6a","type":"csv","z":"2af82091.badca","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"timestamp,temperature,vibration","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1170,"y":620,"wires":[["16e24ff5.66e76"]]},{"id":"16e24ff5.66e76","type":"file","z":"2af82091.badca","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1330,"y":620,"wires":[[]]},{"id":"5c9242cd.0f394c","type":"csv","z":"2af82091.badca","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,temperature,vibration","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1170,"y":660,"wires":[["16e24ff5.66e76"]]},{"id":"c51956c7.9685d8","type":"function","z":"2af82091.badca","name":"Set data","func":"var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"temperature\" : flow.get(\"T5\"),\n    \"vibration\" : flow.get(\"V5\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":700,"wires":[["77d486f2.8c3278"]]},{"id":"77d486f2.8c3278","type":"function","z":"2af82091.badca","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"M5\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"D:/Motor/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":700,"wires":[["8ea2416b.ffde9"]]},{"id":"5c9805cc.51c9ec","type":"switch","z":"2af82091.badca","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":760,"wires":[["9702a78.1738d58"],["321536d0.c851ca"]]},{"id":"9702a78.1738d58","type":"change","z":"2af82091.badca","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":740,"wires":[["3905650c.2b943a"]]},{"id":"321536d0.c851ca","type":"change","z":"2af82091.badca","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":780,"wires":[["1a7477cb.73c698"]]},{"id":"8ea2416b.ffde9","type":"fs-file-lister","z":"2af82091.badca","name":"","start":"D:/Motor/","pattern":"","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":680,"y":760,"wires":[["5c9805cc.51c9ec"]]},{"id":"3905650c.2b943a","type":"csv","z":"2af82091.badca","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"timestamp,temperature,vibration","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1170,"y":740,"wires":[["c63670e3.5be84"]]},{"id":"c63670e3.5be84","type":"file","z":"2af82091.badca","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1330,"y":740,"wires":[[]]},{"id":"1a7477cb.73c698","type":"csv","z":"2af82091.badca","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,temperature,vibration","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1170,"y":780,"wires":[["c63670e3.5be84"]]},{"id":"8462268c.555d38","type":"function","z":"2af82091.badca","name":"Set data","func":"var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"temperature\" : flow.get(\"T6\"),\n    \"vibration\" : flow.get(\"V6\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":820,"wires":[["f3860cb7.2b1d"]]},{"id":"f3860cb7.2b1d","type":"function","z":"2af82091.badca","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"M6\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"D:/Motor/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":820,"wires":[["a971e077.0732c"]]},{"id":"1d4262d6.2fa3dd","type":"switch","z":"2af82091.badca","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":880,"wires":[["f6453631.0c1928"],["646ccd1f.736bb4"]]},{"id":"f6453631.0c1928","type":"change","z":"2af82091.badca","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":860,"wires":[["b7fabaf6.17e7b8"]]},{"id":"646ccd1f.736bb4","type":"change","z":"2af82091.badca","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":900,"wires":[["c861e9d0.bb4e18"]]},{"id":"a971e077.0732c","type":"fs-file-lister","z":"2af82091.badca","name":"","start":"D:/Motor/","pattern":"","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":680,"y":880,"wires":[["1d4262d6.2fa3dd"]]},{"id":"b7fabaf6.17e7b8","type":"csv","z":"2af82091.badca","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"timestamp,temperature,vibration","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1170,"y":860,"wires":[["97da9b13.0bc358"]]},{"id":"97da9b13.0bc358","type":"file","z":"2af82091.badca","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1330,"y":860,"wires":[[]]},{"id":"c861e9d0.bb4e18","type":"csv","z":"2af82091.badca","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,temperature,vibration","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1170,"y":900,"wires":[["97da9b13.0bc358"]]},{"id":"29c917a6.74ea88","type":"function","z":"2af82091.badca","name":"Set data","func":"var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"temperature\" : flow.get(\"T7\"),\n    \"vibration\" : flow.get(\"V7\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":940,"wires":[["f38a01e2.62cfd"]]},{"id":"f38a01e2.62cfd","type":"function","z":"2af82091.badca","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"M7\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"D:/Motor/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":940,"wires":[["e644dcf1.9d32e"]]},{"id":"a43018fd.429728","type":"switch","z":"2af82091.badca","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":1000,"wires":[["5c030418.166aec"],["c2862c75.a812f"]]},{"id":"5c030418.166aec","type":"change","z":"2af82091.badca","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":980,"wires":[["bc0b7931.d72c58"]]},{"id":"c2862c75.a812f","type":"change","z":"2af82091.badca","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1020,"wires":[["646704d3.aa36cc"]]},{"id":"e644dcf1.9d32e","type":"fs-file-lister","z":"2af82091.badca","name":"","start":"D:/Motor/","pattern":"","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":680,"y":1000,"wires":[["a43018fd.429728"]]},{"id":"bc0b7931.d72c58","type":"csv","z":"2af82091.badca","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"timestamp,temperature,vibration","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1170,"y":980,"wires":[["b1eb35d7.978ef8"]]},{"id":"b1eb35d7.978ef8","type":"file","z":"2af82091.badca","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1330,"y":980,"wires":[[]]},{"id":"646704d3.aa36cc","type":"csv","z":"2af82091.badca","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,temperature,vibration","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1170,"y":1020,"wires":[["b1eb35d7.978ef8"]]},{"id":"f908bcd8.64b13","type":"function","z":"2af82091.badca","name":"Set data","func":"var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"temperature\" : flow.get(\"T8\"),\n    \"vibration\" : flow.get(\"V8\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1060,"wires":[["907ed024.01122"]]},{"id":"907ed024.01122","type":"function","z":"2af82091.badca","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"M8\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"D:/Motor/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":1060,"wires":[["34d4a8ea.b891d8"]]},{"id":"87304fdd.04ff2","type":"switch","z":"2af82091.badca","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":1120,"wires":[["68b1c24.848593c"],["46a9278e.ddc028"]]},{"id":"68b1c24.848593c","type":"change","z":"2af82091.badca","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1100,"wires":[["a6e7f1a9.8da8"]]},{"id":"46a9278e.ddc028","type":"change","z":"2af82091.badca","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1140,"wires":[["7cd2f856.c2f6c8"]]},{"id":"34d4a8ea.b891d8","type":"fs-file-lister","z":"2af82091.badca","name":"","start":"D:/Motor/","pattern":"","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":680,"y":1120,"wires":[["87304fdd.04ff2"]]},{"id":"a6e7f1a9.8da8","type":"csv","z":"2af82091.badca","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"timestamp,temperature,vibration","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1170,"y":1100,"wires":[["f12ac6c6.428298"]]},{"id":"f12ac6c6.428298","type":"file","z":"2af82091.badca","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1330,"y":1100,"wires":[[]]},{"id":"7cd2f856.c2f6c8","type":"csv","z":"2af82091.badca","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,temperature,vibration","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1170,"y":1140,"wires":[["f12ac6c6.428298"]]},{"id":"98faa052.bdc1","type":"comment","z":"2af82091.badca","name":"Receiving Data","info":"","x":260,"y":160,"wires":[]},{"id":"7d027872.1ff378","type":"comment","z":"2af82091.badca","name":"Data Logging","info":"","x":610,"y":160,"wires":[]},{"id":"8407d7be.2c1528","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Temp/1","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":1300,"wires":[["95b6e153.7b8cb","39b3b9f1.783a06"]]},{"id":"630c07cf.c0efc8","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Temp/2","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":1500,"wires":[["8874de1d.6fc02","a2d4f102.1e911"]]},{"id":"2b6f2b99.9da1b4","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Temp/3","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":1700,"wires":[["a80e12b3.88e3f","35e6d572.9d1f8a"]]},{"id":"9c8ac3aa.370cc","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Temp/4","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":1900,"wires":[["81d15343.d54ea","ae1ad7cb.199c08"]]},{"id":"3a27911c.4a1e5e","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Temp/5","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":2100,"wires":[["b6e8646.5838698","6d467123.6c16c"]]},{"id":"94e3e065.08df3","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Temp/6","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":2300,"wires":[["e708cadb.87ac38","85424bbe.cb7578"]]},{"id":"a0bd74a.95d7088","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Temp/7","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":2480,"wires":[["6cbd0f02.49ae1","a61d1ce7.50463"]]},{"id":"cf8784a3.107268","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Temp/8","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":2660,"wires":[["9a51c824.2e3ea8","3675bd23.92be62"]]},{"id":"13b48bad.5dc0d4","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Vibr/1","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":1360,"wires":[["52c82a6.53dd7d4","898e5f3e.85f54"]]},{"id":"b4bcb2d1.6aead","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Vibr/2","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":1560,"wires":[["dd9b1290.5b691","db5dc4a0.5ca958"]]},{"id":"d6a320e3.7ff14","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Vibr/3","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":1760,"wires":[["3de3a656.52529a","cc3ad8a5.fe1ca8"]]},{"id":"14da5cee.772563","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Vibr/4","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":1960,"wires":[["b04dd4a0.b9d2c8","3276ee7b.a79ac2"]]},{"id":"92f32ea1.8173f","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Vibr/5","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":2160,"wires":[["64a594f7.013d0c","ce84d92d.f02038"]]},{"id":"7cfd47f6.2befc8","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Vibr/6","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":2360,"wires":[["31de4d42.1f07a2","946f9822.a4e098"]]},{"id":"a93c608e.bbc12","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Vibr/7","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":2540,"wires":[["3d4f8ae.5a42576","562e21f1.f2514"]]},{"id":"4f265a3.615dba4","type":"mqtt in","z":"2af82091.badca","name":"","topic":"Vibr/8","qos":"2","datatype":"auto","broker":"eff1f3b4.4189f","nl":false,"rap":true,"rh":0,"x":230,"y":2720,"wires":[["f1e3a746.55a908","a83b0d07.bd788"]]},{"id":"95b6e153.7b8cb","type":"function","z":"2af82091.badca","name":"Alert Condition","func":"var temp = msg.payload\n\nif(temp>XX)\n{\n    msg.payload = 1\n}\n\nelse\n{\n    msg.payload = 0    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1300,"wires":[["4a2f85d4.49b04c","632a2f18.1d00f"]]},{"id":"8874de1d.6fc02","type":"function","z":"2af82091.badca","name":"Alert Condition","func":"var temp = msg.payload\n\nif(temp>XX)\n{\n    msg.payload = 1\n}\n\nelse\n{\n    msg.payload = 0    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1500,"wires":[["b4cb2759.fce378","845285e9.e7c1b8"]]},{"id":"a80e12b3.88e3f","type":"function","z":"2af82091.badca","name":"Alert Condition","func":"var temp = msg.payload\n\nif(temp>XX)\n{\n    msg.payload = 1\n}\n\nelse\n{\n    msg.payload = 0    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1700,"wires":[["fc0019fa.586068","c05dab3b.62bd78"]]},{"id":"81d15343.d54ea","type":"function","z":"2af82091.badca","name":"Alert Condition","func":"var temp = msg.payload\n\nif(temp>XX)\n{\n    msg.payload = 1\n}\n\nelse\n{\n    msg.payload = 0    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1900,"wires":[["70781894.cff0e8","f90ce3a9.a6691"]]},{"id":"b6e8646.5838698","type":"function","z":"2af82091.badca","name":"Alert Condition","func":"var temp = msg.payload\n\nif(temp>XX)\n{\n    msg.payload = 1\n}\n\nelse\n{\n    msg.payload = 0    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":2100,"wires":[["a0e967ec.298b98","6fb5fba.000f604"]]},{"id":"e708cadb.87ac38","type":"function","z":"2af82091.badca","name":"Alert Condition","func":"var temp = msg.payload\n\nif(temp>XX)\n{\n    msg.payload = 1\n}\n\nelse\n{\n    msg.payload = 0    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":2300,"wires":[["a53adcf6.129f1","dc68835f.38244"]]},{"id":"6cbd0f02.49ae1","type":"function","z":"2af82091.badca","name":"Alert Condition","func":"var temp = msg.payload\n\nif(temp>XX)\n{\n    msg.payload = 1\n}\n\nelse\n{\n    msg.payload = 0    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":2480,"wires":[["bebf4224.cfd33","c8b1c585.e79708"]]},{"id":"9a51c824.2e3ea8","type":"function","z":"2af82091.badca","name":"Alert Condition","func":"var temp = msg.payload\n\nif(temp>XX)\n{\n    msg.payload = 1\n}\n\nelse\n{\n    msg.payload = 0    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":2660,"wires":[["d6b79fb0.d9a4b","98636e29.b9114"]]},{"id":"52c82a6.53dd7d4","type":"function","z":"2af82091.badca","name":"Alert Condition","func":"var vibr = msg.payload\n\nif(vibr>XX)\n{\n    msg.payload = 1\n}\n\nelse\n{\n    msg.payload = 0    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1360,"wires":[["4a2f85d4.49b04c","632a2f18.1d00f"]]},{"id":"dd9b1290.5b691","type":"function","z":"2af82091.badca","name":"Alert Condition","func":"var vibr = msg.payload\n\nif(vibr>XX)\n{\n    msg.payload = 1\n}\n\nelse\n{\n    msg.payload = 0    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1560,"wires":[["b4cb2759.fce378","845285e9.e7c1b8"]]},{"id":"3de3a656.52529a","type":"function","z":"2af82091.badca","name":"Alert Condition","func":"var vibr = msg.payload\n\nif(vibr>XX)\n{\n    msg.payload = 1\n}\n\nelse\n{\n    msg.payload = 0    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1760,"wires":[["fc0019fa.586068","c05dab3b.62bd78"]]},{"id":"b04dd4a0.b9d2c8","type":"function","z":"2af82091.badca","name":"Alert Condition","func":"var vibr = msg.payload\n\nif(vibr>XX)\n{\n    msg.payload = 1\n}\n\nelse\n{\n    msg.payload = 0    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1960,"wires":[["70781894.cff0e8","f90ce3a9.a6691"]]},{"id":"64a594f7.013d0c","type":"function","z":"2af82091.badca","name":"Alert Condition","func":"var vibr = msg.payload\n\nif(vibr>XX)\n{\n    msg.payload = 1\n}\n\nelse\n{\n    msg.payload = 0    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":2160,"wires":[["a0e967ec.298b98","6fb5fba.000f604"]]},{"id":"31de4d42.1f07a2","type":"function","z":"2af82091.badca","name":"Alert Condition","func":"var vibr = msg.payload\n\nif(vibr>XX)\n{\n    msg.payload = 1\n}\n\nelse\n{\n    msg.payload = 0    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":2360,"wires":[["a53adcf6.129f1","dc68835f.38244"]]},{"id":"3d4f8ae.5a42576","type":"function","z":"2af82091.badca","name":"Alert Condition","func":"var vibr = msg.payload\n\nif(vibr>XX)\n{\n    msg.payload = 1\n}\n\nelse\n{\n    msg.payload = 0    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":2540,"wires":[["bebf4224.cfd33","c8b1c585.e79708"]]},{"id":"f1e3a746.55a908","type":"function","z":"2af82091.badca","name":"Alert Condition","func":"var vibr = msg.payload\n\nif(vibr>XX)\n{\n    msg.payload = 1\n}\n\nelse\n{\n    msg.payload = 0    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":2720,"wires":[["d6b79fb0.d9a4b","98636e29.b9114"]]},{"id":"bb1240a.42b1fc","type":"ui_switch","z":"2af82091.badca","name":"","label":"M1 Alert Status","tooltip":"","group":"f274894d.a3e1b8","order":7,"width":8,"height":2,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":900,"y":1300,"wires":[["4a2f85d4.49b04c"]]},{"id":"4a2f85d4.49b04c","type":"change","z":"2af82091.badca","name":"","rules":[{"t":"set","p":"Indicator1","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1300,"wires":[["bb1240a.42b1fc"]]},{"id":"1dfc054.1a68afb","type":"ui_switch","z":"2af82091.badca","name":"","label":"M2 Alert Status","tooltip":"","group":"f274894d.a3e1b8","order":8,"width":8,"height":2,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":900,"y":1500,"wires":[["b4cb2759.fce378"]]},{"id":"b4cb2759.fce378","type":"change","z":"2af82091.badca","name":"","rules":[{"t":"set","p":"Indicator2","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1500,"wires":[["1dfc054.1a68afb"]]},{"id":"5c6cf74.f416708","type":"ui_switch","z":"2af82091.badca","name":"","label":"M3 Alert Status","tooltip":"","group":"f274894d.a3e1b8","order":9,"width":8,"height":2,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":900,"y":1700,"wires":[["fc0019fa.586068"]]},{"id":"fc0019fa.586068","type":"change","z":"2af82091.badca","name":"","rules":[{"t":"set","p":"Indicator3","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1700,"wires":[["5c6cf74.f416708"]]},{"id":"4c59389a.6519d8","type":"ui_switch","z":"2af82091.badca","name":"","label":"M4 Alert Status","tooltip":"","group":"f274894d.a3e1b8","order":16,"width":8,"height":2,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":900,"y":1900,"wires":[["70781894.cff0e8"]]},{"id":"70781894.cff0e8","type":"change","z":"2af82091.badca","name":"","rules":[{"t":"set","p":"Indicator4","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1900,"wires":[["4c59389a.6519d8"]]},{"id":"e681989.7b16368","type":"ui_switch","z":"2af82091.badca","name":"","label":"M5 Alert Status","tooltip":"","group":"f274894d.a3e1b8","order":17,"width":8,"height":2,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":900,"y":2100,"wires":[["a0e967ec.298b98"]]},{"id":"a0e967ec.298b98","type":"change","z":"2af82091.badca","name":"","rules":[{"t":"set","p":"Indicator5","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":2100,"wires":[["e681989.7b16368"]]},{"id":"3b46ec46.bcdc64","type":"ui_switch","z":"2af82091.badca","name":"","label":"M6 Alert Status","tooltip":"","group":"f274894d.a3e1b8","order":18,"width":8,"height":2,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":900,"y":2300,"wires":[["a53adcf6.129f1"]]},{"id":"a53adcf6.129f1","type":"change","z":"2af82091.badca","name":"","rules":[{"t":"set","p":"Indicator6","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":2300,"wires":[["3b46ec46.bcdc64"]]},{"id":"a2aafaa2.305c68","type":"ui_switch","z":"2af82091.badca","name":"","label":"M7 Alert Status","tooltip":"","group":"f274894d.a3e1b8","order":25,"width":8,"height":2,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":900,"y":2480,"wires":[["bebf4224.cfd33"]]},{"id":"bebf4224.cfd33","type":"change","z":"2af82091.badca","name":"","rules":[{"t":"set","p":"Indicator7","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":2480,"wires":[["a2aafaa2.305c68"]]},{"id":"4fa65b59.558d84","type":"ui_switch","z":"2af82091.badca","name":"","label":"M8 Alert Status","tooltip":"","group":"f274894d.a3e1b8","order":26,"width":8,"height":2,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":900,"y":2660,"wires":[["d6b79fb0.d9a4b"]]},{"id":"d6b79fb0.d9a4b","type":"change","z":"2af82091.badca","name":"","rules":[{"t":"set","p":"Indicator8","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":2660,"wires":[["4fa65b59.558d84"]]},{"id":"df1a4df6.7702a","type":"ui_toast","z":"2af82091.badca","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"M1 Alert","name":"","x":890,"y":1360,"wires":[]},{"id":"632a2f18.1d00f","type":"function","z":"2af82091.badca","name":"Notification Setup","func":"var x = msg.payload\nx = parseInt(x)\n\nif(x == 1)\n{\n    msg.payload = \"M1 potential fault!\"\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1360,"wires":[["df1a4df6.7702a"]]},{"id":"f705bafc.e2adf8","type":"ui_toast","z":"2af82091.badca","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"M2 Alert","name":"","x":890,"y":1560,"wires":[]},{"id":"845285e9.e7c1b8","type":"function","z":"2af82091.badca","name":"Notification Setup","func":"var x = msg.payload\nx = parseInt(x)\n\nif(x == 1)\n{\n    msg.payload = \"M2 potential fault!\"\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1560,"wires":[["f705bafc.e2adf8"]]},{"id":"e9cce6d3.363748","type":"ui_toast","z":"2af82091.badca","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"M3 Alert","name":"","x":890,"y":1760,"wires":[]},{"id":"c05dab3b.62bd78","type":"function","z":"2af82091.badca","name":"Notification Setup","func":"var x = msg.payload\nx = parseInt(x)\n\nif(x == 1)\n{\n    msg.payload = \"M3 potential fault!\"\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1760,"wires":[["e9cce6d3.363748"]]},{"id":"8d7e4433.6de9f8","type":"ui_toast","z":"2af82091.badca","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"M4 Alert","name":"","x":890,"y":1960,"wires":[]},{"id":"f90ce3a9.a6691","type":"function","z":"2af82091.badca","name":"Notification Setup","func":"var x = msg.payload\nx = parseInt(x)\n\nif(x == 1)\n{\n    msg.payload = \"M4 potential fault!\"\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1960,"wires":[["8d7e4433.6de9f8"]]},{"id":"5b7d635b.c99c7c","type":"ui_toast","z":"2af82091.badca","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"M5 Alert","name":"","x":890,"y":2160,"wires":[]},{"id":"6fb5fba.000f604","type":"function","z":"2af82091.badca","name":"Notification Setup","func":"var x = msg.payload\nx = parseInt(x)\n\nif(x == 1)\n{\n    msg.payload = \"M5 potential fault!\"\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":2160,"wires":[["5b7d635b.c99c7c"]]},{"id":"8e8f60de.dea25","type":"ui_toast","z":"2af82091.badca","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"M6 Alert","name":"","x":890,"y":2360,"wires":[]},{"id":"dc68835f.38244","type":"function","z":"2af82091.badca","name":"Notification Setup","func":"var x = msg.payload\nx = parseInt(x)\n\nif(x == 1)\n{\n    msg.payload = \"M6 potential fault!\"\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":2360,"wires":[["8e8f60de.dea25"]]},{"id":"da02621b.d0975","type":"ui_toast","z":"2af82091.badca","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"M7 Alert","name":"","x":890,"y":2540,"wires":[]},{"id":"c8b1c585.e79708","type":"function","z":"2af82091.badca","name":"Notification Setup","func":"var x = msg.payload\nx = parseInt(x)\n\nif(x == 1)\n{\n    msg.payload = \"M7 potential fault!\"\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":2540,"wires":[["da02621b.d0975"]]},{"id":"52d85b86.fe6074","type":"ui_toast","z":"2af82091.badca","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"M8 Alert","name":"","x":890,"y":2720,"wires":[]},{"id":"98636e29.b9114","type":"function","z":"2af82091.badca","name":"Notification Setup","func":"var x = msg.payload\nx = parseInt(x)\n\nif(x == 1)\n{\n    msg.payload = \"M8 potential fault!\"\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":2720,"wires":[["52d85b86.fe6074"]]},{"id":"39b3b9f1.783a06","type":"ui_gauge","z":"2af82091.badca","name":"","group":"f274894d.a3e1b8","order":1,"width":4,"height":2,"gtype":"gage","title":"M1 Temp","label":"C","format":"{{value}}","min":"-20","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":1260,"wires":[]},{"id":"a2d4f102.1e911","type":"ui_gauge","z":"2af82091.badca","name":"","group":"f274894d.a3e1b8","order":3,"width":4,"height":2,"gtype":"gage","title":"M2 Temp","label":"C","format":"{{value}}","min":"-20","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":1460,"wires":[]},{"id":"898e5f3e.85f54","type":"ui_gauge","z":"2af82091.badca","name":"","group":"f274894d.a3e1b8","order":2,"width":4,"height":2,"gtype":"gage","title":"M1 Vibration","label":"m/s","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":1400,"wires":[]},{"id":"db5dc4a0.5ca958","type":"ui_gauge","z":"2af82091.badca","name":"","group":"f274894d.a3e1b8","order":4,"width":4,"height":2,"gtype":"gage","title":"M2 Vibration","label":"m/s","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":1600,"wires":[]},{"id":"35e6d572.9d1f8a","type":"ui_gauge","z":"2af82091.badca","name":"","group":"f274894d.a3e1b8","order":5,"width":4,"height":2,"gtype":"gage","title":"M3 Temp","label":"C","format":"{{value}}","min":"-20","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":1660,"wires":[]},{"id":"cc3ad8a5.fe1ca8","type":"ui_gauge","z":"2af82091.badca","name":"","group":"f274894d.a3e1b8","order":6,"width":4,"height":2,"gtype":"gage","title":"M3 Vibration","label":"m/s","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":1800,"wires":[]},{"id":"ae1ad7cb.199c08","type":"ui_gauge","z":"2af82091.badca","name":"","group":"f274894d.a3e1b8","order":10,"width":4,"height":2,"gtype":"gage","title":"M4 Temp","label":"C","format":"{{value}}","min":"-20","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":1860,"wires":[]},{"id":"3276ee7b.a79ac2","type":"ui_gauge","z":"2af82091.badca","name":"","group":"f274894d.a3e1b8","order":11,"width":4,"height":2,"gtype":"gage","title":"M4 Vibration","label":"m/s","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":2000,"wires":[]},{"id":"6d467123.6c16c","type":"ui_gauge","z":"2af82091.badca","name":"","group":"f274894d.a3e1b8","order":12,"width":4,"height":2,"gtype":"gage","title":"M5 Temp","label":"C","format":"{{value}}","min":"-20","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":2060,"wires":[]},{"id":"ce84d92d.f02038","type":"ui_gauge","z":"2af82091.badca","name":"","group":"f274894d.a3e1b8","order":13,"width":4,"height":2,"gtype":"gage","title":"M5 Vibration","label":"m/s","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":2200,"wires":[]},{"id":"85424bbe.cb7578","type":"ui_gauge","z":"2af82091.badca","name":"","group":"f274894d.a3e1b8","order":14,"width":4,"height":2,"gtype":"gage","title":"M6 Temp","label":"C","format":"{{value}}","min":"-20","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":2260,"wires":[]},{"id":"946f9822.a4e098","type":"ui_gauge","z":"2af82091.badca","name":"","group":"f274894d.a3e1b8","order":15,"width":4,"height":2,"gtype":"gage","title":"M6 Vibration","label":"m/s","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":2400,"wires":[]},{"id":"a61d1ce7.50463","type":"ui_gauge","z":"2af82091.badca","name":"","group":"f274894d.a3e1b8","order":19,"width":4,"height":2,"gtype":"gage","title":"M7 Temp","label":"C","format":"{{value}}","min":"-20","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":2440,"wires":[]},{"id":"562e21f1.f2514","type":"ui_gauge","z":"2af82091.badca","name":"","group":"f274894d.a3e1b8","order":20,"width":4,"height":2,"gtype":"gage","title":"M7 Vibration","label":"m/s","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":2580,"wires":[]},{"id":"3675bd23.92be62","type":"ui_gauge","z":"2af82091.badca","name":"","group":"f274894d.a3e1b8","order":21,"width":4,"height":2,"gtype":"gage","title":"M8 Temp","label":"C","format":"{{value}}","min":"-20","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":2620,"wires":[]},{"id":"a83b0d07.bd788","type":"ui_gauge","z":"2af82091.badca","name":"","group":"f274894d.a3e1b8","order":22,"width":4,"height":2,"gtype":"gage","title":"M8 Vibration","label":"m/s","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":2760,"wires":[]},{"id":"19729013.d2ffd","type":"comment","z":"2af82091.badca","name":"Displaying Data","info":"","x":260,"y":1220,"wires":[]},{"id":"eff1f3b4.4189f","type":"mqtt-broker","name":"HiveMQ_IoT_Assignment","broker":"9917008b67b043eea295f801a047fc87.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f274894d.a3e1b8","type":"ui_group","name":"IoT_Assignment_AceDigital","tab":"411ec3b0.fb08ac","order":6,"disp":true,"width":24,"collapse":false},{"id":"411ec3b0.fb08ac","type":"ui_tab","name":"Ace Digital Assignment","icon":"dashboard","disabled":false,"hidden":false}]